
<div class="col-xs-12">
  <div style="width: 100%; height: 100%">
    <div id="map">
    </div>
  </div>
</div>
<% if current_user %>
  <%= link_to "Add", new_user_event_path(current_user), class: "btn btn-default" %>
<% end %>

NEW POST ADDED
<% @events.all.each do |event| %>
  <%= event.title %>
<% end %>
