
<div class="col-xs-12">
  <div style="width: 100%; height: 100%">
    <div id="map">
    </div>
  </div>
</div>
<%= link_to "Add", new_user_event_path(current_user), class: "btn btn-default" %>

NEW POST ADDED
<% current_user.events.all.each do |event| %>
<%= event.title %>
<% end %>
