<div class = "col-xs-8 col-xs-offset-2 space-top card" id="event-form">
  <div class = "col-xs-10 col-xs-offset-1 space-top">
    <div class="row">

      <h2>Create New Event</h2>
    </div>
    <div class="form-group">
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <%= form_for(@event, url:"/users/#{current_user.id}/events",:html => {class: "form-horizontal", role: "form"}) do |f| %>

        <%= render :partial => 'eventform', :locals => {:f => f} %>

      <% end %>
    </div>
  </div>
</div>
