<html>
  <head>
  </head>
  <body>
    <div class = "col-xs-8 col-xs-offset-2 space-top card" id="event-form">
      <div class = "col-xs-10 col-xs-offset-1 space-top">
        <%= link_to user_path(@user), method: :get, class: "pull-right" do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>

        <div class="row">
          <h2>Report An Event</h2>
        </div>

        <div class="form-group">
          <%= form_for(@event, url:"/users/#{current_user.id}/events",:html => {class: "form-horizontal", role: "form"}) do |f| %>
            <%= render :partial => 'eventform', :locals => {:f => f} %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
