<div class = "col-xs-8 col-xs-offset-2 space-top card">
  <div class = "col-xs-10 col-xs-offset-1 space-top">
    <div class = "row">
      <div class = "col-sm-12">
        <h2>Our Team at WTF</h2>
      </div>
    </div>
    <div id="scrollable" style="overflow:scroll; height:450px;">
      <div class="row">
        <div class="col-sm-4">
          <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-128.png" class="img-circle" style="height:100px; width:100px">
        </div>
        <div class="col-sm-8">
          <h3>Cookie Monster</h3>
          <h4>Monster</h4>
          <h5>
            Joe Gebbia is the co-founder and CPO of Airbnb, serving on the Board of
            Directors and Executive staff. An entrepreneur from an early age,
            Airbnb's groundbreaking service began in his San Francisco apartment
            and spread to 2,000,000 listings in over 191 countries, creating a new
            economy for thousands of people around the world.
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-128.png" class="img-circle" style="height:100px; width:100px">
        </div>
        <div class="col-sm-8">
          <h3>Cookie Monster</h3>
          <h4>Monster</h4>
          <h5>
            Joe Gebbia is the co-founder and CPO of Airbnb, serving on the Board of
            Directors and Executive staff. An entrepreneur from an early age,
            Airbnb's groundbreaking service began in his San Francisco apartment
            and spread to 2,000,000 listings in over 191 countries, creating a new
            economy for thousands of people around the world.
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-128.png" class="img-circle" style="height:100px; width:100px">
        </div>
        <div class="col-sm-8">
          <h3>Cookie Monster</h3>
          <h4>Monster</h4>
          <h5>
            Joe Gebbia is the co-founder and CPO of Airbnb, serving on the Board of
            Directors and Executive staff. An entrepreneur from an early age,
            Airbnb's groundbreaking service began in his San Francisco apartment
            and spread to 2,000,000 listings in over 191 countries, creating a new
            economy for thousands of people around the world.
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-128.png" class="img-circle" style="height:100px; width:100px">
        </div>
        <div class="col-sm-8">
          <h3>Cookie Monster</h3>
          <h4>Monster</h4>
          <h5>
            Joe Gebbia is the co-founder and CPO of Airbnb, serving on the Board of
            Directors and Executive staff. An entrepreneur from an early age,
            Airbnb's groundbreaking service began in his San Francisco apartment
            and spread to 2,000,000 listings in over 191 countries, creating a new
            economy for thousands of people around the world.
          </h5>
        </div>
      </div>
    </div>
