/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 // *= require bootstrap-3.3.6.min
 // *= require_tree .
 // *= require_self
 */
@import url('//fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans:400,400italic,600');
@import "bootstrap-sprockets";
@import "bootstrap";

// // Layout helper (uncomment):
// div {
//   border: 1px dotted grey;
// }


// Color Palette
$card-bg: #ffffff;
$blue: #7dcdcd;
$lightblue: #c0e8e8;
$darkblue:  #3c9eaf;
$grey: #e9e5dc;
$black:  #353434;
$lightgreen: #afffe4;
$green: #47cd91;
$red: #e02e3e;

// Fonts
$wtf-font: 'Amatic SC', cursive;
$paragraph-font: 'Open Sans', sans-serif;

#brand-logo {
  color: $blue!important;
  font-family: $wtf-font;
  font-size: 40px;
  text-shadow: 2px 1px 4px lighten(grey, 35);
}

p {
  font-family: $paragraph-font;
}

// Devise Errors
  #error_explanation h2{
    font-size: 16px;
    display: inline;
    color: #B0171F !important;
    // text-shadow: .5px .5px .5px black;
  }

  #error_explanation li{
    font-size: 16px;
    display: inline;
    color: #B0171F !important;
    // text-shadow: .5px .5px .5px black;
  }

  body {
    font-family: Arial, sans-serif;
    background: image-url("bg-img-new_desaturate") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .opensans {
    font-family: $paragraph-font;
  }

  .popup-reported {
    font-size: 11px;
  }

  .verified {
    .btn {
      font-size: 18px;
    }
    font-size: 22px;
  }

// Mixins
@mixin buttons ($color) {
  color: #fff;
  background-color: $color;
  border-color: darken($color, 5)!important;
}
@mixin buttons-hover ($color) {
  color: #fff!important;
  background-color: darken($color, 12)!important;
  border-color: darken($color, 17)!important;
}
@mixin buttons-active ($color) {
  color: #fff!important;
  background-color: darken($color, 8)!important;
  border-color: darken($color, 13)!important;
}

// Devise Errors
  #error_explanation h2{
    font-size: 16px;
    display: inline;
    color: #B0171F !important;
    // text-shadow: .5px .5px .5px black;
  }

  #error_explanation li{
    font-size: 16px;
    display: inline;
    color: #B0171F !important;
    // text-shadow: .5px .5px .5px black;
  }

// Helpers
  .center {
    text-align: center;
  }
  .display-none {
    display: none;
  }
  .space-left {
    margin-left: 10px;
  }
  .space-top {
    margin-top: 10px;
  }


// Boot strap buttons
  .btn {
    border-radius: 0px;
  }
  .likebtn {
    border-radius: 10px;
  }
  .navbar-btn {
    border-radius: 15px;
    height: 34px;
    padding: 6px 12px 6px 12px!important;
  }

  .btn-success {
    @include buttons ($green);
    box-shadow: 1px 2px 3px lightgrey;
  }

  .btn-success:active,
  .btn-success:active:focus,
  .btn-success:focus,
  .btn-success:hover {
    @include buttons-hover ($green);
  }
  label.btn-btn-success.active {
    @include buttons-active ($green);
  }

  .btn-primary  {
    @include buttons ($darkblue);
  }
  .btn-primary:active,
  .btn-primary:active:focus,
  .btn-primary:focus,
  .btn-primary:hover {
    @include buttons-hover ($darkblue);
  }
  label.btn.btn-primary.active {
    @include buttons-active ($darkblue);
  }

  .btn-danger {
    @include buttons ($red);
  }
  .btn-danger:active,
  .btn-danger:active:focus,
  .btn-danger:focus,
  .btn-danger:hover {
    @include buttons-hover ($red);
  }
  label.btn.btn-default.active {
    @include buttons-active ($red);
  }

  button:focus {
    outline:0 !important;
    text-decoration: none;
  }
  a:focus {
    outline:0 !important;
    text-decoration: none;
  }

// Bootstrap BGs
  .bg-success {
    background-color: $lightgreen;
    color: darken($green, 20);
  }

  .bg-danger {
    background-color: lighten($red, 20);
    color: $red;
  }

  .bg-success, .bg-danger {
    text-align: center;
    padding: 10px 20px 15px 20px;
    margin: 0px;
    list-style: none;
  }


// Styles
  html,body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
  }

  a {
    color: $darkblue;
  }
  a:hover{
    color: darken($darkblue, 20);
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  .flat-input:focus {
    box-shadow: 0 0 5px $blue!important;
  }

  .flat-input {
    border: 0px;
    border-radius: 0px!important;
    background-color: darken(#fff, 4);
    box-shadow: 0 0 0;
  }

  .flat-input-dark {
    background-color: darken(#fff, 9)!important;
  }

  ul li{
    list-style: none;
  }

  #content-area {
    position: relative;
  }

  #flash_error {
    z-index:100;
    position:absolute;
    width:100%;
    top:0px;
  }

  #map {
      display: block;
      position: relative;
      height: calc(100vh - 52px);
      width: 100vw;
      bottom:0;
      top:-1px;
      z-index:10;

  }

  #modal-title {
    font-family: $wtf-font;
    font-size: 60px;
  }

  .avatar {
    border: 1px solid darken($card-bg, 5);
  }

  .card {
    background-color: $card-bg;
    border: 1px solid darken($card-bg, 5);
    box-shadow: 3px 3px 5px grey;
    margin-top: 50px !important;
    padding: 30px 0px 40px 0px;
    margin-bottom: 50px;
  }

  .field {
    margin-top: 20px;
  }


// Navbar Styles
  .navbar {
    margin-bottom: 0px!important;
    border-radius: 0px;
    background-color: $card-bg!important;
    border-color: darken($card-bg, 20)
  }

  .navbar-collapse.collapse {
    // display: block!important;
    a {
      color: $black!important;
    }
    a:hover {
      color: darken($blue, 30)!important;
    }
  }

  // .navbar-nav>li, .navbar-nav {
  //   float: left !important;
  // }

  // .navbar-nav.navbar-right:last-child {
  //   margin-right: -15px !important;
  // }

  // .navbar-right {
  //   float: right!important;
  // }

  #brand-logo {
    color: $blue!important;
    font-family: $wtf-font;
    font-size: 47px;
    text-shadow: 2px 1px 4px lighten(grey, 35);
  }

// Animate loading symbol

  .glyphicon-refresh-animate {
    -animation: spin 1.5s infinite linear;
    -webkit-animation: spin2 1.5s infinite linear;
    font-size: 150px;
    position: absolute;
    margin-top: 230px;
    opacity: .4;
  }

  @-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
  }

  @keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
  }


// Mobile view
  @media(max-width: 768px){
    .user-info .row {
      margin-right: 3px!important;
    }

  }
