<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title space-left" id="modal-title">WTF is this?!</h2>
      </div>
      <div class="modal-body">
        <div class = "row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class ="row">
              <h4><em>WTF?! is a crime and incident tracker, allowing you to report events and see what others have reported.</em></h4>
              <p>Curious what that noise was? Thought you heard a helicopter? Maybe we can help clear things up.</p>
              <hr />
            </div>
            <div class = "row">
              <h3 class="space-top">Our Team at WTF</h3>
              <hr />
            </div>

            <div class ="row">
              <div class="col-md-5 space-top">
                <div class="row">
                  <img src="https://avatars2.githubusercontent.com/u/17622935?v=3&s=460">
                </div>
                <div class="row">
                  <h3>Christine Lam</h3>
                  <h5>
                    GitHub: <a href="https://github.com/lamchristine">https://github.com/lamchristine</a>
                  </h5>
                  <hr />
                </div>
              </div>

              <div class="col-md-5 col-md-offset-2 space-top">
                <div class="row">
                  <img src="https://avatars1.githubusercontent.com/u/15112013?v=3&s=460">
                </div>
                <div class="row">
                  <h3>Emily Anne Moses</h3>
                  <h5>
                    GitHub: <a href="https://github.com/eamoses">https://github.com/eamoses</a>
                  </h5>
                  <hr />
                </div>
              </div>

              <div class="col-md-5 space-top">
                <div class="row">
                  <img src="https://avatars2.githubusercontent.com/u/16979320?v=3&s=460">
                </div>
                <div class="row">
                  <h3>Hector Coronado</h3>
                  <h5>
                    GitHub: <a href="https://github.com/hectorcoronado">https://github.com/hectorcoronado</a>
                  </h5>
                  <hr />
                </div>
              </div>

              <div class="col-md-5 col-md-offset-2 space-top">
                <div class="row">
                  <img src="https://avatars1.githubusercontent.com/u/8527273?v=3&s=460">
                </div>
                <div class="row">
                  <h3>Adam Beck</h3>
                  <h5>
                    GitHub: <a href="https://github.com/mradambeck">https://github.com/mradambeck</a>
                  </h5>
                  <hr />
                </div>
              </div>


            </div>


            <!-- <div class = "row">
              <div class="col-md-2">
                <img src="https://avatars2.githubusercontent.com/u/17622935?v=3&s=460">
              </div>
              <div class="col-sm-9 col-sm-offset-1">
                <h3>Christine Lam</h3>
                <h5>
                  Christine's GitHub: <a href="https://github.com/lamchristine">https://github.com/lamchristine</a>
                </h5>
              </div>
              <div class = "col-xs-12">
                <hr />
              </div>
            </div> -->

            <!-- <div class = "row">
              <div class="col-md-2">
                <img src="https://avatars1.githubusercontent.com/u/8527273?v=3&s=460">
              </div>
              <div class="col-sm-9 col-sm-offset-1">
                <h3>Adam Beck</h3>
                <h5>
                  Adam's GitHub: <a href="https://github.com/mradambeck">https://github.com/mradambeck</a>
                </h5>
              </div>
              <div class = "col-xs-12">
                <hr />
              </div>
            </div> -->
<!--
            <div class = "row">
              <div class="col-md-2">
                <img src="https://avatars2.githubusercontent.com/u/16979320?v=3&s=460">
              </div>
              <div class="col-sm-9 col-sm-offset-1">
                <h3>Hector Coronado</h3>
                <h5>
                  Hector's GitHub: <a href="https://github.com/hectorcoronado">https://github.com/hectorcoronado</a>
                </h5>
              </div>
              <div class = "col-xs-12">
                <hr />
              </div>
            </div> -->

            <!-- <div class = "row">
              <div class="col-md-2">
                <img src="https://avatars1.githubusercontent.com/u/15112013?v=3&s=460">
              </div>
              <div class="col-sm-9 col-sm-offset-1">
                <h3>Emily Anne Moses</h3>
                <h5>
                  Emily's GitHub: <a href="https://github.com/eamoses">https://github.com/eamoses</a>
                </h5>
              </div>
              <div class = "col-xs-12">
                <hr />
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
